<!DOCTYPE html>
<html lang="en">
<head>
    <title>Find The Mutant Scenario List</title>
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50" onload="tcheckScore()">

<!-- HOWTO -->
<section id="team" data-stellar-background-ratio="1">
    <div class="container">
        <h1>Pick a Scenario!</h1>
        <div class="sameLine">

            <a href="/mutantgames/scenarioE0" class="section-btn btn btn-default smoothScroll">Play Scenario 1!</a>
            <h3 id="s0"><%=user.scenarioE %></h3>
            <p></p>
            </div>
        <div class="sameLine">

            <a href="/mutantgames/scenarioF0" class="section-btn btn btn-default smoothScroll">Play Scenario 2!</a>
            <h3 id="s1"><%=user.scenarioF %></h3>
            <p></p>
        </div>

    </div>
</section>

<!-- SCRIPTS -->
<script src="../public/js/btnClick.js"></script>

</body>
</html>