<!DOCTYPE html>
<html lang="en">
<head>

    <title>Homepage</title>



    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/animate.css">
    <link rel="stylesheet" href="/public/css/owl.carousel.css">
    <link rel="stylesheet" href="/public/css/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/public/css/tooplate-style.css">


</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">

        <span class="spinner-rotate"></span>

    </div>
</section>


<!-- HEADER -->
<header>
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-5">
                <p>Web-Based Game for Teaching Testing</p>
            </div>



        </div>
    </div>
</header>


<!-- MENU -->
<section class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>

            <!-- lOGO TEXT HERE -->
            <a href="/" class="navbar-brand"></i>Testing Game</a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="playBtn" class="smoothScroll"><a href="/games/scenarioList">Approve</a></li>
                <li class="playBtn" class="smoothScroll"><a href="/exercises/createScenario">Create</a></li>
                <li class="playBtn" class="smoothScroll"><a href="/interexercises/createScenario1">Create Inter</a></li>
                <li class="playBtn" class="smoothScroll"><a href="/advexercises/createScenario2">Create Adv</a></li>
                <li class="playBtn" class="smoothScroll"><a href="/rexercises/createScenario3">Create Rest</a></li>
                <li class="playBtn" class="smoothScroll"><a href="/interrexercises/createScenario4">Create Rest Inter</a></li>
            </ul>
        </div>

    </div>
</section>



<!-- HOME -->
<section id="home" class="slider" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <%if (error != '') { %>
            <div class="alert alert-danger">
                <%= error %>
            </div>
            <% } %>

            <%if (success_msg != '') { %>
            <div class="alert alert-success">
                <%= success_msg %>
            </div>
            <% } %>

            <div class="owl-carousel owl-theme">
                <div class="item item-first">
                    <div class="caption">
                        <div class="col-md-offset-1 col-md-10">
                            <h3>Learning testing has never been easier...</h3>
                            <h1>Mutation Testing</h1>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    </div>
    </div>
</section>









<!-- SCRIPTS -->
<script src="/public/js/jquery.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/jquery.sticky.js"></script>
<script src="/public/js/jquery.stellar.min.js"></script>
<script src="/public/js/wow.min.js"></script>
<script src="/public/js/smoothscroll.js"></script>
<script src="/public/js/owl.carousel.min.js"></script>
<script src="/public/js/custom.js"></script>
<script src="/public/js/btnClick.js"></script>

</body>
</html>