<!DOCTYPE html>
<html lang="en">
<head>
    <title>Find The Mutant Manual</title>
</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<section id="appointment" data-stellar-background-ratio="3">
    <div class="container">
        <div class="row">
            <h1>How To Play! (Find The Mutant Manual)</h1>
            <h3>Step 1</h3>
            <div class="stepManual">
                <img src="../public/HowTo/Images/14.png">
                <p>Make sure you are logged in. Select the play button on the homepage.</p>
            </div>
            <h3>Step 2</h3>
            <div class="stepManual">
                <img src="../public/HowTo/Images/15.png">
                <p>Select the 'Find The Mutant' game mode.</p>
            </div>
            <h3>Step 3</h3>
            <div class="stepManual">
                <img src="../public/HowTo/Images/16.png">
                <p>Select the scenario, we will pick 1.</p>
            </div>
            <h3>Step 4</h3>
            <div class="stepManual">
                <img src="../public/HowTo/Images/17.png">
                <p>Here is the same layout as the previous game mode but slightly altered. We now have
                    our mutation code to begin with, followed by an explanation and lastly, the text
                    editor to fix the code. The difference with this game mode is for you to find the
                    mutant in the code given, and rewrite the code as it should have been originally.</p>
            </div>
            <h3>Step 5</h3>
            <div class="stepManual">
                <img src="../public/HowTo/Images/18.png">
                <p>The code returns the filename extension and so searches for the '.' to grab the
                    extension. In the code we see that it instead looks for 'h'. Modifying this line
                    should result in passing the test case.</p>
            </div>
            <h3>Step 6</h3>
            <div class="stepManual">
                <img src="../public/HowTo/Images/19.png">
                <p>Upon running the code, we find the test case passes. The code has been restored.
                    But wait? What is making sure the code written is correct? Well there is a test case
                    that will only work if the code does as it should and so will be tested against the
                    text editor code when ran. </p>
            </div>
            <h3>Step 7</h3>
            <div class="stepManual">
                <img src="../public/HowTo/Images/20.png">
                <p>Here we have the mutant; a small change in the code which would not stop the code from
                    running but will change what the program will do. In this scenario, the mutant removes
                    the ! operator which translates to opposite for a boolean value. So without that
                    operator, the function would return the boolean value with no change and so true would
                    return true, false would return false. </p>
            </div>
            <h3>Step 8</h3>
            <div class="stepManual">
                <p>Learn and have fun! This game is designed to show the importance of testing without a
                    boring lecture or reading books.  </p>
            </div>
            <a href="/" class="section-btn btn btn-default smoothScroll">Exit</a>
    </div>

    </div>
</section>

</body>
</html>