<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create a Scenario</title>
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50" onload="createIframe()">

<!-- HOWTO -->
<section id="team" data-stellar-background-ratio="1">
    <div class="container">
        <div class="row">
            <h1>Create Your Own Scenario!</h1>
            <div class="col-md-6 col-sm-6">
                <div class="about-info">
                    <h2 class="wow fadeInUp" data-wow-delay="0.1s">Learn While Teaching!</h2>
                </div>
            </div>
            <%if (success_msg != '') { %>
            <div class="alert alert-success">
                <%= success_msg %>
            </div>
            <% } %>
            <%if (error_msg != '') { %>
            <div class="alert alert-danger">
                <%= error_msg %>
            </div>
            <% } %>

            <%if (success_msg) { %>

            <% for(var i=0; i<success_msg.length;i++) {%>
            <div class="alert alert-success">
                <%= success_msg[i].msg %>
            </div>

            <% } %>

            <% } %>

            <%if (error) { %>

            <% for(var i=0; i<error.length;i++) {%>
            <div class="alert alert-danger">
                <%= error[i].msg %>
            </div>

            <% } %>

            <% } %>
            <div class="clearfix"></div>

            <div class="runTest">
                <h3>Enter Your Program</h3>
                         <textarea class="form-control" id="p1o"  cols="160" rows="7">
    function myfunction() {



    }</textarea>
                <h3>Enter Your Mutated Program</h3>
                <textarea class="form-control" id="p1m"  cols="160" rows="7">
    function myfunction() {



    }</textarea>
                <h3>Enter the explanation for your code</h3>
                <textarea class="form-control" id="p2"  cols="80" rows="3">
    "Explanation"
    "Enter Explanation Here."
                </textarea>
                <h3>Enter the explanation of the mutation</h3>
                <textarea class="form-control" id="p3"  cols="80" rows="3">
    "Mutation"
    "Enter Mutation Here."
                    </textarea>



                <h2>Enter the solution test of your code</h2>

                <textarea class=class="form-control" id="codeInput"  cols="80" rows="30">
    describe('Write Your Test Group Descriptions Here', () => {
	    it('Write Your Test Expectation Here', () => {



	      })
    });
                    </textarea>



            </div>
                <form method="post" action="/cc/createScenario">
                    <input type="hidden" class="form-control" placeholder="code" name="code" id="c">
                    <input type="hidden" class="form-control" placeholder="mutation" name="mutation" id="m">
                    <input type="hidden" class="form-control" placeholder="explaincode" name="explaincode" id="ec">
                    <input type="hidden" class="form-control" placeholder="explainmut" name="explainmut" id="em">
                    <input type="hidden" class="form-control" placeholder="solution" name="solution" id="s">
                <button type="submit" class="btn btn-default" id="upload">Upload</button>
                </form>




            <button onclick="updateIframe()">Run Test (Check your code first!)</button>
            <button onclick="verifyIframe()">Verify Scenario</button>
            <p></p>
            <a href="/" class="section-btn btn btn-default smoothScroll">Exit</a>

        </div>
    </div>
</section>

<!-- SCRIPTS -->
<script src="../public/js/btnClick.js"></script>
<script src="../public/js/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("codeInput");
    editor.setTheme("ace/theme/tomorrow_night_bright");
    editor.setOption("maxLines", 100);
    editor.session.setMode("ace/mode/javascript");
    var editor1 = ace.edit("p1o");
    editor1.setTheme("ace/theme/tomorrow_night_bright");
    editor1.setOption("maxLines", 100);
    editor1.session.setMode("ace/mode/javascript");
    var editor2 = ace.edit("p1m");
    editor2.setTheme("ace/theme/tomorrow_night_bright");
    editor2.setOption("maxLines", 100);
    editor2.session.setMode("ace/mode/javascript");
    var editor3 = ace.edit("p2");
    editor3.setTheme("ace/theme/tomorrow_night_bright");
    editor3.setOption("maxLines", 100);
    editor3.session.setMode("ace/mode/javascript");
    var editor4 = ace.edit("p3");
    editor4.setTheme("ace/theme/tomorrow_night_bright");
    editor4.setOption("maxLines", 100);
    editor4.session.setMode("ace/mode/javascript");
</script>

</body>
</html>