<!DOCTYPE html>
<html lang="en">
<head>
    <title>Game List</title>
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50" onload="checkScore()">

<!-- HOWTO -->
<section id="team" data-stellar-background-ratio="1">
    <div class="container">
        <h1>Pick a Game Type!</h1>
        <div class="sameLine">

            <a href="/testgames/scenarioList/TB" class="section-btn btn btn-default smoothScroll">Write Test Cases (Beginner)</a>
            <p></p>
            </div>
        <div class="sameLine">

            <a href="/testgames/scenarioList/TI" class="section-btn btn btn-default smoothScroll">Write Test Cases (Intermediate)</a>
            <p></p>
        </div>
        <div class="sameLine">

            <a href="/testgames/scenarioList/TA" class="section-btn btn btn-default smoothScroll">Write Test Cases (Advanced - Beta)</a>
            <p></p>
        </div>
        <div class="sameLine">

            <a href="/testgames/scenarioList/FB" class="section-btn btn btn-default smoothScroll">Find the Mutant (Beginner)</a>
            <p></p>
        </div>
        <div class="sameLine">

            <a href="/testgames/scenarioList/FI" class="section-btn btn btn-default smoothScroll">Find the Mutant (Intermediate)</a>
            <p></p>
        </div>

        </div>
    </div>
</section>

<!-- SCRIPTS -->
<script src="../public/js/btnClick.js"></script>


</body>
</html>