<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Profile</title>
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<section id="appointment" data-stellar-background-ratio="3">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6">
                <div class="about-info">
                    <h1 class="wow fadeInUp" data-wow-delay="0.1s"><%=user.username %>'s Profile</h1>
                    <h3 class="wow fadeInUp" data-wow-delay="0.1s">
                        Name : <%=user.name %>
                    </h3>
                    <h3>
                        Username : <%=user.username %>
                    </h3>
                    <h3>
                        Scores:
                    </h3>
                    <h3>
                        Scenario 1 = <%=user.points %>/10
                    </h3>
                    <a href="/users/editProfile" class="section-btn btn btn-default smoothScroll">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>