<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- HOME -->
<section id="home" class="slider" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <%if (error != '') { %>
            <div class="alert alert-danger">
                <%= error %>
            </div>
            <% } %>

            <%if (success_msg != '') { %>
            <div class="alert alert-success">
                <%= success_msg %>
            </div>
            <% } %>

            <div class="owl-carousel owl-theme">
                <div class="item item-first">
                    <div class="caption">
                        <div class="col-md-offset-1 col-md-10">
                            <h3>Learning mutation testing has never been easier...</h3>
                            <h1>Codename: X</h1>
                            <a href="#team" class="section-btn btn btn-default smoothScroll">Check out the basics</a>
                            <% if (user) { %>
                                <a href="/games/gameList" class="section-btn btn btn-default smoothScroll">Play Now!</a>
                            <% } %>
                            <% if (!user) { %>
                                <a href="#appointment" class="section-btn btn btn-default smoothScroll">Play Now!</a>
                            <% } %>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>



<!-- ABOUT -->
<section id="about">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6">
                <div class="about-info">
                    <h2 class="wow fadeInUp" data-wow-delay="0.6s">What is this?</h2>
                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <p>Testing is hard to learn; many students struggle in defining their own test cases and miss important cases.</p>
                        <p>This system provides users with a collection of scenarios that require writing certain test cases. They would then be challenged to find a test case that meets certain conditions. The conditions range from identifying an incorrect program apart from a fully functioning program, to reaching a particular place in the code. </p>
                        <a href="/mutationTesting" class="section-btn btn btn-default smoothScroll">Learn more about Mutation Testing here...</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>


<!-- HOWTO -->
<section id="team" data-stellar-background-ratio="1">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6">
                <div class="about-info">
                    <h2 class="wow fadeInUp" data-wow-delay="0.1s">How to play</h2>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-4 col-sm-6">
                <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">

                    <div class="team-info">
                        <h3>Beginner Manual</h3>
                        <p></p>
                        <a href="/basicManual" class="section-btn btn btn-default smoothScroll">Read through the basics of how to play.</a>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">

                    <div class="team-info">
                        <h3>Youtube Tutorial</h3>
                        <p></p>
                        <iframe width="300" height="315"
                                src="https://www.youtube.com/embed/MVAFI97MUXc" frameborder="0" allowfullscreen>
                        </iframe>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">

                    <div class="team-info">
                        <h3>Find The Mutant Manual</h3>
                        <p></p>
                        <a href="/mutManual" class="section-btn btn btn-default smoothScroll">Find the mutant Game Type manual.</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<% if (!user) { %>
    <!-- PLAY -->
    <section id="appointment" data-stellar-background-ratio="3">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <div class="about-info">
                        <h2 class="wow fadeInUp" data-wow-delay="0.1s">Login to play! Don't have an account? Sign Up!</h2>
                        <a href="/users/login" class="section-btn btn btn-default smoothScroll">Login</a>
                        <a href="/users/register" class="section-btn btn btn-default smoothScroll">Sign Up</a>

                    </div>
                </div>
            </div>
        </div>
    </section>
<% } %>

<!-- SCRIPTS -->
<script src="/public/js/wow.min.js"></script>
<script src="/public/js/smoothscroll.js"></script>
<script src="/public/js/owl.carousel.min.js"></script>
<script src="/public/js/custom.js"></script>

</body>
</html>