<!DOCTYPE html>
<html lang="en">
<head>

    <title>Exercises</title>



    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/animate.css">
    <link rel="stylesheet" href="../public/css/owl.carousel.css">
    <link rel="stylesheet" href="../public/css/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../public/css/tooplate-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50" onload="createIframe()">

<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">

        <span class="spinner-rotate"></span>

    </div>
</section>


<!-- HEADER -->
<header>
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-5">
                <p>Web-Based Game for Teaching Testing</p>
            </div>



        </div>
    </div>
</header>


<!-- MENU -->
<section class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>

            <!-- lOGO TEXT HERE -->
            <a href="index.html" class="navbar-brand"></i>Testing Game</a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" class="smoothScroll">Home</a></li>
            </ul>
        </div>

    </div>
</section>





<!-- HOWTO -->
<section id="team" data-stellar-background-ratio="1">
    <div class="container">
        <div class="row">
            <h1>Scenario 1: 2/5</h1>
            <div class="col-md-6 col-sm-6">
                <div class="about-info">
                    <h2 class="wow fadeInUp" data-wow-delay="0.1s">Exercise 2: Kill the mutant!</h2>
                </div>
            </div>
            <% exercises.forEach(function (exercises) { %>
            <h3 class="sn" hidden><%= exercises.code %></h3>
            <h3 class="sm" hidden><%= exercises.mutation %></h3>
            <% }) %>

            <div class="clearfix"></div>
            <h3>Program Code</h3>
            <div class="runTest">
                         <pre class="readonly-pre"><textarea class="readonly-textarea" id="p1" name="cut" cols="160" rows="7">
    function random_hex_color_code (){
        let n = (Math.random() * 0xfffff * 1000000).toString(16);
        return '#' + n.slice(0, 6);
    }



</textarea></pre>
                <h3>Explanation</h3>
                <pre class="readonly-pre"><textarea class="readonly-textarea" id="p2" name="cut" cols="80" rows="3">
    "Explanation"
    "Function generates a random hexadecimal color code."
</textarea></pre>




                <h3>Enter Test</h3>

                <pre class="readonly-pre"><textarea class="readonly-textarea" id="codeInput" name="cut" cols="80" rows="30">
    describe('Write Your Test Group Descriptions Here', () => {
	    it('Write Your Test Expectation Here', () => {



	      })
    });
                    </textarea></pre>



                <button onclick="refreshIframe()">Run Test</button>
                <button onclick="checkIframe()">Save</button>

            </div>
            <p></p>
            <a href="/testgames/scenarioC2" class="section-btn btn btn-default smoothScroll">Next (2/5)</a>

        </div>
    </div>
</section>





<!-- SCRIPTS -->
<script src="../public/js/jquery.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/js/jquery.sticky.js"></script>
<script src="../public/js/jquery.stellar.min.js"></script>
<script src="../public/js/wow.min.js"></script>
<script src="../public/js/smoothscroll.js"></script>
<script src="../public/js/owl.carousel.min.js"></script>
<script src="../public/js/custom.js"></script>
<script src="../public/js/btnClick.js"></script>
<script src="../public/js/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("codeInput");
    editor.setTheme("ace/theme/tomorrow_night_bright");
    editor.setOption("maxLines", 100);
    editor.session.setMode("ace/mode/javascript");
    var editor1 = ace.edit("p1");
    editor1.setTheme("ace/theme/tomorrow_night_bright");
    editor1.setOption("maxLines", 100);
    editor1.session.setMode("ace/mode/javascript");
    var editor1 = ace.edit("p2");
    editor1.setTheme("ace/theme/tomorrow_night_bright");
    editor1.setOption("maxLines", 100);
    editor1.session.setMode("ace/mode/javascript");
    var editor1 = ace.edit("p3");
    editor1.setTheme("ace/theme/tomorrow_night_bright");
    editor1.setOption("maxLines", 100);
    editor1.session.setMode("ace/mode/javascript");
</script>

</body>
</html>